In [1]:
import pickle
import warnings
import numpy as np

In [2]:
np.random.seed(12345)

In [3]:
warnings.filterwarnings("ignore")

In [4]:
best_model = pickle.load(open("model.pickle",'rb'))
preprocessed_data = pickle.load(open("preprocessing.pickle",'rb'))

In [5]:
best_model

LogisticRegression(multi_class='multinomial')

In [6]:
preprocessed_data

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,...,MaritalStatus,MonthlyIncome,NumCompaniesWorked,OverTime,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TrainingTimesLastYear,WorkLifeBalance,YearsSinceLastPromotion
0,0.547619,1,1,2,1,2,1,2,0,3,...,2,0.262454,8,1,3,1,0,0,1,0
1,0.738095,0,3,1,8,1,1,3,1,2,...,1,0.217009,1,0,4,4,1,3,3,1
2,0.452381,1,1,1,2,2,4,4,1,2,...,2,0.056925,6,1,3,2,0,3,3,0
3,0.357143,0,3,1,3,4,1,4,0,3,...,1,0.100053,1,1,3,3,0,3,3,3
4,0.214286,0,1,1,2,1,3,1,1,3,...,1,0.129489,9,0,3,4,1,3,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,0.428571,0,3,1,23,2,3,3,1,4,...,1,0.082254,4,0,3,3,1,3,3,0
1466,0.500000,0,1,1,6,1,3,4,1,2,...,1,0.472986,4,0,3,1,1,5,3,1
1467,0.214286,0,1,1,4,3,1,2,1,4,...,1,0.270300,1,1,4,2,1,0,3,0
1468,0.738095,0,3,2,2,3,3,4,1,2,...,1,0.230700,2,0,3,4,0,3,2,0
1469,0.380952,0,1,1,8,3,3,2,1,4,...,1,0.178778,2,0,3,1,0,3,4,1

In [7]:
from sklearn.model_selection import train_test_split

X = preprocessed_data.drop("Attrition", axis=1)
y = preprocessed_data['Attrition']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,stratify=y)

In [8]:
print(X.shape, y.shape, X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(1470, 21) (1470,) (1176, 21) (294, 21) (1176,) (294,)

In [9]:
best_model.fit(X_train, y_train)

LogisticRegression(multi_class='multinomial')

In [10]:
best_model.score(X_test,y_test)

0.8707482993197279

In [11]:
from sklearn.metrics import classification_report, accuracy_score, recall_score, precision_score, f1_score, roc_auc_score
y_preds = best_model.predict(X_test)

print(classification_report(y_test, y_preds))
print()
print("Accuracy Score:", accuracy_score(y_test, y_preds))
print("Recall Score:", recall_score(y_test, y_preds))
print("Precision Score:", precision_score(y_test, y_preds))
print("F1 Score:", f1_score(y_test, y_preds))
print("ROC AUC Score:", roc_auc_score(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.88      0.98      0.93       247
           1       0.71      0.32      0.44        47

    accuracy                           0.87       294
   macro avg       0.80      0.65      0.68       294
weighted avg       0.86      0.87      0.85       294


Accuracy Score: 0.8707482993197279
Recall Score: 0.3191489361702128
Precision Score: 0.7142857142857143
F1 Score: 0.4411764705882353
ROC AUC Score: 0.6474287190972521